{% extends "image_manipulator/base.html" %}
{% load static %}
{% block content %}
    <div>
        <h2>Upload image:</h2>
        <!--      przycisk który prowadzi na stronę gdzie dodajesz image-->
        <div class="d-grid gap-5">
          <a href="{% url 'add-image' %}">
            <button class="btn btn-primary" type="button" >Add Image</button>
          </a>
          <a href="https://youtu.be/Sfz9jQ3KI5k?si=JitFEgvic9b2LYnh">
            <button class="btn btn-primary" type="button" >Test button</button>
          </a>
        </div>
        <h2>Your images:</h2>
    </div>
    <div class="row">
        {% for image in images %}
          <article class="media content-section">
              <div>
                  <div>
                      <img class="article-img" src="{% static 'images/' %}{{ image }}" alt="{{ image }}">
                      <!--<img class="article-img" src="{% static 'pepel.jpg' %}">-->
                  </div>
                  <div class="pt-2">
                      <button type="button" class="btn btn-danger btn-lg">Delete</button>
                      <button type="button" class="btn btn-dark btn-lg float-right">Info</button>
                  </div>
              </div>
          </article>
        {% endfor %}
    </div>
{% endblock content %}
